<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}" dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
  <div class="appTemplate">
    <div class="appTitle">
      <span class="breadcrumb">Services</span>
      <h3>${applicationLabel}
        <div name="overview" class="infobox iconbox infobutton dialoginfo">
          <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
        </div>
        <div class="infobox iconbox tutorialButton tutorialInfo">
          <a href="${docsServiceURL}${tutorialLink}" target="_blank" ><i class="fa icon-books fa-1x" title="click to open tutorial"></i></a>
        </div>
      </h3>
      <p>${applicationDescription} For further explanation, please see the ${applicationLabel} Service <a href="${docsServiceURL}${applicationHelp}" target="_blank">Quick Reference Guide</a> and <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a>.</p>
      </p>
    </div>
    <div style="width:450px; margin:auto" class="formFieldsContainer">
      <div id="annotationBox" style="width:400px;" class="appBox appShadow">
        <div class="headerrow">
          <div style="width:85%;display:inline-block;">
            <label class="appBoxLabel">Parameters</label>
            <div name="parameters" class="infobox iconbox infobutton dialoginfo">
              <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
            </div>
          </div>
        </div>
        <div class="appRow">
          <label class="paramlabel">SSM Mode</label><br>
          <select data-dojo-type="dijit/form/Select" name="mode" data-dojo-attach-point="modeWidget" style="width:300px" required="true">
            <option value="">--- Select Mode ---</option>
            <option value="single">Single</option>
            <option value="additive">Additive</option>
            <option value="epistatic">Epistatic</option>
          </select>
        </div>
        <div class="appRow" style="margin:0 0 0 0">
          <label class="paramlabel">SS Penalty</label><br>
          <select data-dojo-type="dijit/form/Select" name="ss_penalty" style="width:50px" data-dojo-attach-point="ss_penaltyWidget" required="false">
            <option value="">--- Please select one ---</option>
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </div>
        <div class="appRow">
          <label>PDB File</label><br>
<!--
          <div data-dojo-attach-point="pdb_Widget" style="display: block;">
            <div style="display: flex; align-items: center;">
              <!-- WorkspaceObjectSelector ->
              <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="pdb_file" style="width:380px; background-color:#F0F1F3"
                  required="true"
                  data-dojo-attach-event="onChange:onPbdFileUpload"
                  data-dojo-attach-point="pdb_file" value="pdb_file"
                  data-dojo-props="promptMessage:'The PDB file name for your Stability Prediction Results',missingMessage:'PDB File Name must be provided.',trim:true">
              </div>

              <!-- Preview Button Next to the Selector ->
              <input id="${id}_pdb_file_preview" data-dojo-type="dijit/form/Button" data-dojo-attach-point="pdb_file_preview"
                    name="pdb_file_preview" disabled label="Preview Structure" data-dojo-attach-event="onClick:onPdbPreviewFileUpload"
                    style="margin-left: 10px;">
            </div>
          </div>
        -->
<!-- PDB File Upload Block -->
          <div data-dojo-attach-point="pdb_Widget" style="display: block;">
            <div style="display: flex; align-items: center;">
              <!-- WorkspaceObjectSelector -->
              <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="pdb" style="width:65%;"
                  data-dojo-attach-event="onChange:onPbdFileUpload"
                  data-dojo-attach-point="pdb" value="pdb"
                  data-dojo-props="type:['ent', 'cif', 'pdb'],multi:false,promptMessage:'Select a PDB file for the protein of interest',missingMessage:'Protein input is required',placeHolder:'PDB data file'">
              </div>

              <!-- Preview Button Next to the Selector -->
              <input id="${id}_pdb_preview" data-dojo-type="dijit/form/Button" data-dojo-attach-point="pdb_preview"
                    name="pdb_preview" disabled label="Preview Structure" data-dojo-attach-event="onClick:onPdbPreviewFileUpload"
                    style="margin-left: 10px;">
            </div>
          </div>

        </div>
        <div class="appRow">
          <label>Chains</label><br>
          <div data-dojo-attach-point="chainsWidget" style="width:380px; background-color:#F0F1F3" data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox" name="chains" required="false"></div>
        </div>
        <div class="appRow">
          <label>Batch Size</label><br>
          <div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="trim:true,regExp:'(([0-9])+)', intermediateChanges:true" value="" name="batch_size" maxHeight="200" style="width:20%" required="false" data-dojo-attach-point="batch_sizeWidget"></div>
        </div>

        <div class="appRow">
          <div class="left" style="width:50%">
              <label class="paramlabel">Threshold: </label><br />
              <div data-dojo-type="dijit/form/Select" data-dojo-attach-point="thresholdWidget" name="threshold" style="width:60px">
                  <option value="-0.5">-0.5</option>
                  <option value="0.1">0.1</option>
                  <option value="0.25">0.25</option>
                  <option value="0.5">0.5</option>
                  <option value="0.75">0.75</option>
                  <option value="1">1</option>
                  <option value="2.5">2.5</option>
                  <option value="5">5</option>
                  <option value="100" selected="selected">100</option>
              </div>
          </div>
          <div class="left" style="width:50%">
              <label class="paramlabel">Distance: </label><br />
              <div data-dojo-type="dijit/form/Select" data-dojo-attach-point="distanceWidget" name="distance" style="width:60px">
                  <option value="-0.5">-0.5</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100" selected="selected">100</option>
              </div>
          </div>
        </div>

        <div class="appRow">
          <div class="appFieldLong" style="width:380px">
            <label>File Basename</label><br>
            <div data-dojo-attach-point="output_fileWidget" style="width:380px; background-color:#F0F1F3" data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox" name="output_file" required="true" data-dojo-props="promptMessage:'The output name for your Stability Prediction Results',missingMessage:'Output Name must be provided.',trim:true"></div>
          </div>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <label>Output Folder</label><br>
            <div data-dojo-attach-point="output_pathWidget" data-dojo-type="p3/widget/WorkspaceObjectSelector" name="output_path" style="width:100%" required="true"
              data-dojo-props="title:'Select an Output Folder',autoSelectCurrent:true,selectionText:'Destination',type:['folder'],multi:false,value:'${activeWorkspacePath}',workspace:'${activeWorkspace}',promptMessage:'The output folder for your Stability Prediction Results',missingMessage:'Output Folder must be selected.'"
            data-dojo-attach-event="onChange:onOutputPathChange"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="appSubmissionArea">
      <div data-dojo-attach-point="workingMessage" class="messageContainer workingMessage" style="margin-top:10px; text-align:center;">
        Submitting Stability Prediction Job
      </div>
      <div data-dojo-attach-point="errorMessage" class="messageContainer errorMessage" style="margin-top:10px; text-align:center;">
        Error Submitting Job
      </div>
      <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage"
      style="margin-top:10px; text-align:center;" >
        Your job has been submitted successfully. Please visit your <a data-dojo-attach-event="onclick:openJobsList"><u>Jobs List</u> </a>to check the status of your job and access the results.
      </div>
      <div style="margin-top: 10px; text-align:center;">
        <div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel" data-dojo-type="dijit/form/Button">Cancel
        </div>
        <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
        <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Predict</div>
      </div>
    </div>
  </div>
</form>
